
body{
	background-image: url(../images/oscar-background.jpg);
}


.container{
	width: 400px;
	height: 800px;
	background-color: #c2b555;
	/*margin:auto;*/
	/*margin-top: 400px;*/
	text-align: center;
	opacity: 0.8;
	/*position: fixed;*/
}

#firstrow{
	border:dotted black;
	height:100px;
}
#secondrow{
	border: dotted black;
	height: 400px;
}
#thirdrow{
	border: dotted black;
	height:100px;
}

