
body{
	position: relative;
	background-image: url("../images/background.jpeg");
  overflow: hidden;
}


#TriviaWrapper{
	display: none;
	left: 0px;
	width: 500%;
  float: left;
  /*background-color: white;*/
  overflow-x: auto;
  opacity: .9;
}

#timer{
	text-align: center;
	border:  #06DEE6 solid 4px;
	background-color: #FF215F;
	width: 200px;
	padding: 10px;
	color: white;
	visibility: hidden;
}

#timer-wrapper{
	width: 200px;
	margin:auto;
}

#title{
	text-align: center;
}


#start {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  width: 200px;
  height: 100px;
  border: none;
  background-color: #FF215F;
  font-size: 32px;
  color: white;
  top: 200px;
  margin: auto;
  text-align: center;
}
#start:before {
  content: '';
  position: absolute;
  border: #06DEE6 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
#start:hover:before, #start:focus:before, #start:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}


i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}



.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.questionBox{
  width: 3%;
  height: 200px;
  background-color: #ED9307;
  border: black dotted 1px;
  float: left;
  clear: none;
  margin: auto;
  margin-left: 410px;
  overflow: auto;
}

form{
  width: 300%;
  overflow-x: auto;
}


#submit{
  display: none;
   position: relative;
  width: 200px;
  height: 75px;
  border: none;
  background-color: #FF215F;
  font-size: 32px;
  color: white;
  margin: auto;
  text-align: center;
  top: 20px;
}